.search-bg-container {
    background-color: #000000;
    min-height: 100vh;
    max-height: 100%;
  }
  .succes-search-card {
    display: flex;
    flex-wrap: wrap;
  }
  .no-results-view {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .no-results-img {
    height: 176px;
    width: 210px;
    margin-bottom: 24px;
  }
  .no-results-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    width: 296px;
  }
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }